body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

#app-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#ui-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    z-index: 10;
}

.menu {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    pointer-events: auto;
    border: 2px solid #00ffff; /* Borde retro */
    box-shadow: 0 0 15px #00ffff; /* Sombra retro */
}

#menu-ui,
#game-ui {
    display: none; /* Se controla por JS */
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Courier New', Courier, monospace; /* Fuente retro */
    background-color: transparent;
    border: 1px solid #00ffff;
}

button:hover {
    background-color: #00ffff; /* Invertido para el look retro */
    color: #000;
}


#VRButton {
    /* ¡Lo ocultamos para siempre! */
    display: none !important;
}
