/* Reseteo básico y fondo */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #0a0a0a; /* Fondo oscuro retro */
    font-family: 'Courier New', Courier, monospace; /* Fuente retro */
}

/* El canvas de Three.js ocupará toda la pantalla */
canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


/* El botón de VR que añade Three.js */
#VRButton {
    /* Estilo general */
    z-index: 100 !important;
    background: #f0f !important; /* Rosa neón */
    border: 2px solid #f0f !important;
    color: #000 !important;
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: bold !important;
    box-shadow: 0 0 15px #f0f;
    border-radius: 8px !important;
    padding: 10px 15px !important;
    
    /* Posición fija en la esquina */
    position: fixed !important;
    top: 20px !important;
    right: 20px !important;

    /* Sobreescribir los estilos de "Cardboard mode" */
    width: auto !important;
    height: auto !important;
    bottom: auto !important;
    left: auto !important;
    writing-mode: initial !important;
    transform: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
}
